.about-me-container {
  @apply container pt-4;
}

.skills-bg,
.project-bg {
  background-color: #f3f4f6;
}

.skills-container,
.contact-container {
  @apply container pt-20 pb-32;
}

.project-container {
  @apply container pt-20 pb-56;
}

.project-bg {
  @apply relative;
}

.skills-header,
.education-experience-header,
.project-header,
.contact-header {
  color: #252934;
  @apply text-[32px] text-center font-bold;
}

.carousel-skill {
  @apply mt-5;
}

.education-experience {
  @apply py-20 relative;
}

.education-experience-container {
  @apply container z-40 relative;
}

.education-experience-particles {
  @apply absolute top-0 left-0 right-0 bottom-0 h-full w-full z-30;
}

.layout-form-contact {
  @apply w-full mx-auto mt-5 p-5;
}

@screen md {
  .skills-header,
  .education-experience-header,
  .project-header,
  .contact-header {
    @apply text-4xl;
  }

  .layout-form-contact {
    @apply w-[55%];
  }
}

@screen lg {
  .layout-form-contact {
    @apply w-[45%];
  }
}

.project-shape-divider {
  @apply absolute bottom-0 left-0 w-full z-30;
}

.project-shape-divider svg {
  @apply relative block w-full h-[100px];
}

.project-shape-divider .project-shape-fill {
  fill: #ffffff;
}
