.about-me-container {
  @apply container pt-20;
}

.skills-bg,
.project-bg {
  @apply relative;
  background-color: #f3f4f6;
}

.skills-container {
  @apply container pt-24 pb-16;
}

.contact-container {
  @apply container pt-20 pb-32;
}

.project-container {
  @apply container pb-56;
}

.project-bg {
  @apply relative;
}

.skills-header,
.education-experience-header,
.project-header,
.contact-header {
  color: #252934;
  @apply text-[32px] text-center font-bold;
}

.carousel-skill {
  @apply mt-5;
}

.education-experience {
  @apply py-32 relative bg-no-repeat;
  /* background: url('/assets/bg/1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.education-experience-container {
  @apply container z-40 relative;
}

.education-experience-mask {
  background: rgba(255, 255, 255, 0.9);
  @apply absolute top-0 left-0 right-0 bottom-0 h-full w-full z-30;
}

.layout-form-contact-container {
  background: #252934;
  @apply w-full h-[300px] relative mb-20 mt-10 mx-auto rounded-lg;
}

.layout-form-box-icon {
  @apply text-white absolute left-[11%] top-[30%] text-center;
}

.layout-form-icon {
  @apply text-[4rem];
}

.layout-form-box-text {
  @apply font-bold text-xl mt-1;
}

.layout-form-box-text-question {
  @apply text-sm mt-1;
}

.layout-form-contact {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px;
  @apply w-[95%] p-5 rounded-lg absolute left-[2.5%] top-4;
}

@screen md {
  .skills-header,
  .education-experience-header,
  .project-header,
  .contact-header {
    @apply text-4xl;
  }

  .layout-form-contact-container {
    @apply w-[90%] my-20;
  }

  .layout-form-contact {
    @apply w-[60%] top-[-15%] left-[auto] right-0;
  }

  .layout-form-box-icon {
    @apply left-[9%];
  }
}

@screen lg {
  .layout-form-contact-container {
    @apply w-[65%];
  }

  .layout-form-contact {
    @apply w-[60%];
  }

  .layout-form-box-icon {
    @apply left-[11%];
  }
}

.project-shape-divider {
  @apply absolute bottom-0 left-0 w-full z-30;
}

.project-shape-divider svg {
  @apply relative block w-full h-[100px];
}

.project-shape-divider .project-shape-fill {
  fill: #ffffff;
}
