.card-skill-container {
  background-color: white;
  color: #252934;
  box-shadow: 6px 6px 5px 0px rgba(168, 168, 168, 0.295);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(168, 168, 168, 0.295);
  -moz-box-shadow: 6px 6px 5px 0px rgba(168, 168, 168, 0.295);
  @apply p-3 my-6 break-all rounded-md flex flex-col items-center transition-all duration-300;
}

.card-skill-container:hover {
  @apply pt-6 mb-3 -mt-3;
}

.card-skill-icon {
  @apply text-6xl;
}

.card-skill-title {
  @apply text-xl mt-3;
}
