.timeline-container {
  color: #252934;
  @apply flex flex-col mx-auto p-2;
}

/* Left Timeline */

.timeline-left-container {
  @apply flex flex-row-reverse;
}

.timeline-left-layout {
  background: #f3f4f6;
  @apply col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-lg relative;
}

.timeline-left-ruler-layout {
  @apply col-start-5 col-end-6 relative mr-10;
}

.timeline-left-ruler-inner {
  @apply h-full w-6 flex items-center justify-center;
}

.timeline-left-ruler {
  background: #252934;
  @apply h-full w-1 pointer-events-none;
}

.timeline-left-ruler-bullet {
  background: #d1d5db;
  @apply w-6 h-6 absolute top-1/2 -mt-3 rounded-full shadow;
}

/* Right Timeline */

.timeline-right-container {
  @apply flex;
}

.timeline-right-layout {
  background: #f3f4f6;
  @apply col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-lg relative;
}

.timeline-right-ruler-layout {
  @apply col-start-5 col-end-6 mr-10 relative;
}

.timeline-right-ruler-inner {
  @apply h-full w-6 flex items-center justify-center;
}

.timeline-right-ruler {
  background: #252934;
  @apply h-full w-1 pointer-events-none;
}

.timeline-right-ruler-bullet {
  background: #d1d5db;
  @apply w-6 h-6 absolute top-1/2 -mt-3 rounded-full shadow;
}

.timeline-content-header {
  @apply font-semibold;
}

.timeline-content-employment-type {
  @apply text-sm font-semibold;
}

.timeline-content-description {
  @apply mb-2 text-sm;
}

.timeline-content-date {
  @apply text-xs my-1;
}

.timeline-content-type {
  background: #252934;
  color: white;
  @apply pl-1 pr-2 capitalize absolute right-0 bottom-0 rounded-br-lg text-sm;
}

@screen md {
  .timeline-container {
    @apply grid grid-cols-9;
  }

  .timeline-left-container,
  .timeline-right-container {
    @apply contents;
  }

  .timeline-left-ruler-layout,
  .timeline-right-ruler-layout {
    @apply mx-auto;
  }
}