.tilt-bottom-left {
  @apply absolute bottom-0 left-0 w-full z-30;
  transform: rotate(180deg);
}

.tilt-bottom-left svg {
  @apply relative block w-full h-[100px];
  transform: rotateY(180deg);
}

.tilt-top-right {
  @apply absolute top-0 left-0 w-full z-30;
}

.tilt-top-right svg {
  @apply relative block w-full h-[100px];
  transform: rotateY(180deg);
}

.tilt-top-left {
  @apply absolute top-0 left-0 w-full z-30;
}

.tilt-top-left svg {
  @apply relative block w-full h-[100px];
}

.tilt-shape-fill-white {
  fill: #ffffff;
}

.tilt-shape-fill-grey {
  fill: #f3f4f6;
}
