.header-container {
  /* @apply relative flex justify-center items-center min-h-screen w-full bg-[#252934] pt-[86px] pb-12; */
  background: url('/assets/bg/1.jpg');
  @apply relative min-h-screen w-full pt-[70px] pb-12 bg-cover bg-center bg-no-repeat;
  /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */
  /* background: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
  /* background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%); */
}

.header-mask {
  background-color: rgba(37, 41, 52, 0.85);
  @apply absolute top-0 left-0 right-0 bottom-0 h-full w-full z-30;
}

.header-content {
  @apply relative container flex flex-col items-center gap-4 z-40;
  color: white;
}

.header-content-left {
  @apply order-2;
}

.header-content-right {
  @apply order-1;
}

.header-content-name {
  @apply font-bold text-4xl;
}

.header-content-job {
  @apply font-semibold text-2xl mt-4;
}

.header-content-avatar-container {
  background: #4b5563;
  @apply w-64 h-64 rounded-full flex justify-center items-center;
}

.header-content-avatar {
  background: #6b7280;
  @apply w-60 h-60 rounded-full object-cover relative transition-all duration-300;
}

.header-content-avatar-container:hover > .header-content-avatar {
  @apply w-64 h-64 transition-all duration-300;
}

.header-content-text-contact {
  @apply mt-7;
}

@screen md {
  .header-container {
    @apply pt-[150px];
  }
  .header-content {
    @apply flex flex-row w-full gap-6 items-start;
  }

  .header-content-left {
    @apply w-7/12 order-1;
  }

  .header-content-right {
    @apply w-5/12 order-2;
  }

  .header-content-name {
    @apply text-[40px] leading-9;
  }

  .header-content-job {
    @apply text-[24px] leading-10;
  }

  .header-content-avatar-container {
    @apply w-[18rem] h-[18rem];
  }

  .header-content-avatar-container:hover > .header-content-avatar {
    @apply w-[18rem] h-[18rem];
  }

  .header-content-avatar {
    @apply w-[17rem] h-[17rem];
  }
}

@screen lg {
  .header-content-name {
    @apply text-5xl;
  }

  .header-content-job {
    @apply text-3xl;
  }

  .header-content-left {
    @apply w-8/12;
  }

  .header-content-right {
    @apply w-4/12;
  }

  .header-content-avatar-container {
    @apply w-[19rem] h-[19rem];
  }

  .header-content-avatar-container:hover > .header-content-avatar {
    @apply w-[19rem] h-[19rem];
  }

  .header-content-avatar {
    @apply w-72 h-72;
  }
}
