.footer {
  background: #252934;
  color: white;
}

.footer-layout {
  @apply container relative flex flex-col flex-wrap w-full items-center justify-center py-5;
}

.footer-divide {
  color: #f3f4f6;
  @apply w-full h-[2px];
}

.footer-text-copyright {
  color: white;
  @apply container p-3 text-center;
}

.footer-to-header {
  color: #252934;
  background: #dfdfdf;
  @apply absolute w-10 h-10 text-4xl flex justify-center items-center -top-5 cursor-pointer;
}
