@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.slick-prev {
  @apply !-left-1 !z-[1];
}

.slick-next {
  @apply !-right-1 !z-[1];
}

.slick-prev::before,
.slick-next::before {
  color: #252934 !important;
}

.slick-slide > div {
  padding: 0 10px;
}

@screen sm {
  .slick-prev {
    @apply !-left-2;
  }

  .slick-next {
    @apply !-right-2;
  }
}

@screen md {
  .slick-prev {
    @apply !-left-1;
  }

  .slick-next {
    @apply !-right-1;
  }
}
